.counter {
    height: 100px;
    width: 300px;
    margin: 0px auto;
    margin-top: 20vw;
}

.header {
    font-size: 30px;
    width: 100px;
    margin: 0px auto;
}

.number {
    font-size: 50px;
    width: 100px;
    margin: 0px auto;
    text-align: center;
    margin-top: 30px;

    &:hover {
        cursor: pointer;
    }
}

.buttons {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
}

.btn {
    width: 200px;
    padding: 10px;

    &:hover {
        cursor: pointer;
        background-color: black;
        color: white;
    }
}